* {
}

body {
  height: 2000px;
}

.name-pic-life,
.museum {
  display: flex;
  flex: 1;
  width: 1000px;
  height: 400px;
  margin-top: 120px;
  gap: 20px;
  margin-left: 60px;
}

.decription1 {
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 40px;
  font-weight: bold;
}

.img1 {
  height: 300px;
  margin-right: 40px;
  border-radius: 100px;
}

.article {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.Pitch-video {
  font-family: "inter";
  font-size: 20px;
  font-weight: bold;
}

.div-1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: start;
}
